body {
    background-image: url('https://i.imgur.com/tnEwC5d.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color:red;
    text-align: center;
    font-size: 60px;
}

.container {
    text-align: center;
}

h2 {
    color:blue;

}

ul.directory {
    display: inline-block;
    text-align: left;
    color:black;
}

.text {
    color:antiquewhite;
    font-size: large;
}